*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading h1 {
    text-align: center;
    padding: 20px;
    display: block;
    background: rgba(1, 160, 181, 0.781);
    color: rgb(0, 0, 0);

}

.responsive {
   /* overflow: auto; */
   margin-bottom: 10px;
}
.navber{
   width:  20%; 
   float: left;
}
.navber ul {
    padding: 6px;
    list-style-type: none; 
    text-align: center;
    line-height: 1.4;
   
}

.navber a{
    background-color: rgb(240, 240, 240);
    padding: 5px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: rgb(10, 9, 9);
    text-decoration: none;
}

.hero_section{
  width: 60%;
  float: left;
   
}
.hero_section h3 {
    padding-top: 30px;
    font-size: 30px;
}
.hero_section p {
    margin-top: 10px;
    margin-right: 50px;
}
.hero_section{
    color: rgb(15, 9, 9);
    width: 800px;
    ;
    height: 200px;
    /* background-repeat: no-repeat; */
}
.hero_section h3 {
    margin-top: 10px;
}
.hero_section p {
    padding: 20px;
    
    

}
.about_section{
    float: left;
    width: 20%;
    /* height: 200px; */
    background-color: rgb(240, 240, 240); 
    margin-left: 10px; 
    margin-top: 10px;
    padding-top: 30px;
   
 
}

.about_section p{
    margin-top: 30px;
    text-align: center;
    color: rgb(2, 2, 2); 
    height: 100px;
}
.about_section h3 {
    font-size: 30px;
    text-align: center;
    color: rgb(2, 2, 2);   
}


/* .footer_section{
    margin-bottom: 40px;
} */

.footer_section p {
    text-align: center;
    padding: 20px;
    background: rgba(1, 160, 181, 0.781);
    font-size: 20px; 
}
.footer_section p  span {
    color: white;
 
}


@media only screen and (max-width: 620px) {
    .navber, .hero_section, .about_section {
      width: 100%;
    }

    .about_section{
        margin-left: 0px;
    }
    img{
        width: 100%;
    }
}

